{% extends 'layout.html' %}
{% load static %}

{% block main %}
     <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container2">
            <a href="{% url 'blog:blog-home' %}" class="nav__logo">Blog</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="{% url 'blog:posts' %}" class="nav__link  active-link">
                            <i class="uil uil-estate nav__icon"></i>All posts
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'home' %}" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i>Portfolio
                        </a>
                    </li>
                </ul>

                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <section class="section">

            <div class="blog-page-wrapper container2">




                <div class="post__banner">
                    <img src="{{ post.banner.url }}" alt="">
                </div>

                <h1 class="blog__title">{{ post.title }}</h1>
                <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                   {{ post.date_posted }}
                </div>

                <div class="blog__content__detail">
                    {{ body | safe }}
                </div>
            </div>


        </section>

    </main>


{% endblock %}
